<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var arr = [0,-0,null,false,NaN,undefined,"",'true','false'];

arr.forEach(x=> {
	y = (typeof x == "string") ? ("'"+x+"'") : (x); // Printable object
	x = new Boolean(x);                             // Value to assess

	if (x) {
		print(`Character ->${y}<- evaluated as TRUE`);
	} else {
		print(`Character ->${y}<- evaluated as FALSE`);
	}
	
	println(`typeof ${x} = ${typeof x}`);
});

</textarea>



<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
