<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
<script>
// Utility Functions: q, qa, qid, on, getParent 
// We have covered all of these functions except "getParent." 

// You may have used document.getParentNode() (or getParentElement()) 
// in the past to return a single parent element. The Orly library 
// contains the "getParent function" to provide the same purpose.

// Let's check out a getParent example
// on the current page you will find: <div id="d1"><p id="p1"></p></div>

orly.ready.then(()=>{
	let paragraph = orly.qid("p1");
	let div = orly.getParent(paragraph);
	div.innerHTML = "Who is your daddy and what does he do?";
	
	// Can we add some text to the paragraph?
});
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// Dynamic alerts
// Must have the orly-alert-mgr element on the page 
// Make sure the orly.qid code appears inside the 
// orly.ready.then block.
orly.ready.then(() => {
	orly.qid("alerts").createAlert({
		type : "danger",
		duration : "3000",
		msg : "Danger: Act Now"
	});
});
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// Remove Alerts
orly.ready.then(() => {
	var alertMgr = orly.qid("alerts");
	
	alertMgr.createAlert({
		type : "danger",
		duration : "3000",
		msg : "Danger: Act Now"
	});
	
	setTimeout(function(){
		alertMgr.clearAll();
	}, 1000);
});
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
				
				<div id="d1"><p id="p1"></p></div>
				
			</div>
		</div>
	</div>
</div>
